<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>717737182106-i3sircjkokeg6c28bk57jgu688f3eh7l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.717737182106-i3sircjkokeg6c28bk57jgu688f3eh7l</string>
	<key>API_KEY</key>
	<string>AIzaSyDRZ4thW8Ppayh5rFI14fxWVeuPQ3gcud4</string>
	<key>GCM_SENDER_ID</key>
	<string>717737182106</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.memz</string>
	<key>PROJECT_ID</key>
	<string>memz-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>memz-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:717737182106:ios:661856aff322881ec3f023</string>
</dict>
</plist>