<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>801051530454-g8ankemrhg0uul9brrls0e2o926ic310.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.801051530454-g8ankemrhg0uul9brrls0e2o926ic310</string>
	<key>API_KEY</key>
	<string>AIzaSyAEBMy45SJ5YLmsBMaI6ReLJYsaSfvlywU</string>
	<key>GCM_SENDER_ID</key>
	<string>801051530454</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.memz</string>
	<key>PROJECT_ID</key>
	<string>memz-ae633</string>
	<key>STORAGE_BUCKET</key>
	<string>memz-ae633.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:801051530454:ios:2091a95c8c36848477e577</string>
</dict>
</plist>